<h1 class="display-3 text-center">Cyber Security Traning</h1>
<ul class="m-2 fs-4">
    <li>Basic Data Analysis</li>
    <li>Basic Scripting or Introductory Programming</li>
    <li>Cyber Defense</li>
    <li>Cyber Threats</li>
    <li>Networking Concepts</li>
    <li>Policy, Legal, Ethics, and Compliance</li>
</ul>



