<h1 class="display-4 text-center">Certifications</h1>
<hr />
<div class="backgorindimage">
    <img class="image" />
</div>
<div class="row">
    <div class="card mb-5" style="width: 20rem; margin-left:5%">
        <img src="https://www.securitymagazine.com/ext/resources/images/cybersecurity-freepik.jpg?1626304720" class="card-img-top pt-4">
        <div class="card-body">
            <h5 class="card-title">Cyber Security</h5>
            <p class="card-text">Click below to see what i learned about Cyber Security tranning</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a asp-controller="Home" asp-action="CyberSecurity" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <div class="card mb-5" style="width: 20rem; margin-left:5%">
        <img src="https://i.ytimg.com/vi/7GwptabrYyk/maxresdefault.jpg" class="card-img-top pt-4">
        <div class="card-body">
            <h5 class="card-title">Object Oriented Programming</h5>
            <p class="card-text">Click below to see what i learned about object oriented programming in java tranning</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a asp-controller="Home" asp-action="OOP" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <div class="card mb-5" style="width: 20rem; margin-left:5%">
        <img src="https://raygun.com/blog/images/net-6-features/feature.png" class="card-img-top pt-4">
        <div class="card-body">
            <h5 class="card-title">software development</h5>
            <p class="card-text">Click below to see what i learned about software development tranning</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a asp-controller="Home" asp-action="Software" class="btn btn-primary mt-5">More Info</a>
            </div>
        </div>
    </div>
</div>
