<div class="text-center mb-2">
    <h1 class="font-weight-light display-3">About Me</h1>
    <h1 class="display-6">I'm Rahmell Dili Software Engineer</h1>
    <div class="box">
        <p>
            I am looking for an opportunity where I can acquire new skills that enrich my skill set, skills that I am passionate about and that would hopefully help me to consolidate my career. I am currently studying Computer science at AAB College in Prishtina.I also completed a 840-hour training course on Java implemented by the AAB College. I believe that I am a quick learner, and I don’t give up easily when faced with difficult challenges. I like to think of myself as a cool-headed person who can keep his wits about him under pressure.I have enclosed my resume for your kind consideration, and I look forward to meeting with you and discussing my qualifications in more detail if you believe that I am qualified for the internship program.
        </p>
    </div>
</div>

<h1 class="display-5 text-center mt-5">Educations Skills And Trainings</h1>

<div class="row gx-4 gx-lg-5 mb-5 mt-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Educations and Training</h2>
                <p class="card-text pt-4">
                    <strong>Educations</strong><br />
                    <br /> <strong>Software Engineering</strong> <br />
                    AAB college [ 01/03/2019 – Current ] <br />
                    Address: 10000 Prishtina (Kosovo)
                </p>
                <p class="card-text pt-4">
                    <strong>Trainings</strong><br />
                    <br /> <strong>Software development</strong> <br />
                    AAB college [ 04/11/2022 – 27/01/2023 ] <br />
                    Address: 10000 Prishtina (Kosovo)
                </p>
                <p>
                    <br /> <strong>OOP in Java</strong><br />
                    AAB college [ 03/05/2021 – 07/06/2021 ]<br />
                    Address: 10000 Prishtina (Kosovo)<br />
                    <br /><strong>Cyber Security</strong><br />
                    AAB college [ 13/05/2020 – 20/05/2020 ]<br />
                    Address: 10000 Prishtina (Kosovo)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Language Skills</h2>
                <p class="card-text mt-4">Mother tongue(s):<br /> <strong>Albanian</strong></p>
                <p class="mt-4">
                    Other language(s):<br />
                    <br /> <strong>English - B1</strong><br />
                    Listening-B1 Reading-B1 Writing-B1
                    Spoken-B1<br />
                    <br /> <strong>Bosnian - B1</strong><br />
                    Listening-B1 Reading-B1 Writing-B1
                    Spoken-B1<br />
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Digital Skills</h2>
                <ul class="fs-4 mt-4">
                    <li>Java</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>JavaScript</li>
                    <li>Microsoft Technologies (ASP.NET MVC)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
