<h1 class="display-4 text-center">Object Oriented Programming in Java</h1>

<div class="row">
    <h5 class="display-5">These are oop concetps that i learned: </h5>
    <ul class="fs-4">
        <li>Encapsulation</li>
        <li>Abstraction</li>
        <li>Inheritance</li>
        <li>Polymorphism</li>
    </ul>
    <div class="mb-5">
        <h1>Encapsulation</h1>
        <p>Encapsulation lets us reuse functionality without jeopardizing security. It’s a powerful, time-saving OOP concept in Java.</p>
        <h1>Abstraction</h1>
        <p>Abstraction lets programmers create useful and reusable tools. For example, a programmer can create several different types of objects, which can be variables, functions or data structures. Programmers can also create different classes of objects as ways to define the objects.</p>
        <h1>Inheritance</h1>
        <p>Inheritance is another labor-saving Java OOP concept that works by letting a new class adopt the properties of another.</p>
        <h1>Polymorphism</h1>
        <p>Polymorphism in Java works by using a reference to a parent class to affect an object in the child class.</p>
    </div>
</div>
