<h1 class="display-4 text-center">Software Development Training</h1>

<div class="row">
    <h5 class="display-5">In this training i learned about: </h5>
    <ul class="fs-4">
        <li>Asp.net MVC</li>
        <li>What is Model</li>
        <li>What is View</li>
        <li>What is Controller</li>
    </ul>

    <div class="">
        <h1>Asp.net Mvc</h1>
        <p>
            Asp.net MVC is an alternative for Asp.net Web Application. MVC - Model View Controller is framework to develop web based application. It is another way to create web based application. The best part of this framework is that it separate the application into three following parts:-
        </p>
        <h1>Model</h1>
        <p>This layer is the logic part of application. In this layer we create business logic of application , logic to interact with database.</p>
        <h1>View</h1>
        <p>This layer is the presentation layer. This is the User Interface of application.</p>
        <h1>Controller</h1>
        <p>This layer is the mediator between model and view.Controller handles all user input and requests in MVC. It helps to fetch data from view. Controller also helps to displays the output on view.</p>
    </div>
</div>

<div style="margin-bottom:6%">
    <h1>Advantages of Asp.net MVC</h1>
    <ul>
        <li>
            Asp.net MVC is light weight and provide support for Test Driven Development.
        </li>
        <l1>
            As it separate the application logic so complexity of code manage easily.
        </l1>
        <li>
            As it support Routing so URL Mapping manages easily.
        </li>
    </ul>
</div>